.fadeIn {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slideInUp {
    animation-name: slideInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.slideInUpX {
    animation-name: slideInUpX;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.slideInRight {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(25%);
        visibility: visible;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInUpX {
    0% {
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        transform: translateY(0);
    }
}

.delay-1 {
    animation-delay: 0.12s;
}

.delay-2 {
    animation-delay: 0.25s;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgb(59 130 246), rgb(139 92 246));
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-arrow:hover .btn-p-arw {
    transform: translateX(16px);
}

.btn-p-arw {
    transform: translateX(8px);
}

.btn-arrow div {
    transform: translateX(8px);
}

.rotate {
    animation: rotate 5s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotate(12deg);
    }

    50% {
        transform: rotate(-12deg);
    }

    100% {
        transform: rotate(12deg);
    }
}