#xalyus-ad {
    background: url('/img/mesh-gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    .software-item {
        border-color: rgba(255, 255, 255, .1);
    }

    .software-item:hover,
    .brdr-t:hover {
        background-color: rgba(75, 85, 99, 0.1);
    }
}

@media (min-width: 1024px) {
    .software-desc {
        display: none;
    }

    .software-item:hover .software-desc {
        display: block;
    }

    #learn-more-btn1 {
        display: block;
    }
}

@media (max-width: 640px) {
    #experience-creator {
        background: url('/img/mesh.png') no-repeat center center;
        background-size: cover;
    }

    @media (prefers-color-scheme: dark) {
        #experience-creator {
            background: url('/img/mesh_dark.png') no-repeat center center;
            background-size: cover;
        }
    }
}

.software-item:hover,
.brdr-t:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.software-item {
    border-color: rgba(255, 255, 255, 0.1);
}

.brdr-t {
    border: 1px solid rgba(255, 255, 255, 0.1);
}