#xalyus-ad {
    background: url('/img/mesh-gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#experience-creator {
    background: url('/img/mesh.png') no-repeat center center;
    background-size: cover;
}

@media (prefers-color-scheme: dark) {
    #experience-creator {
        background: url('/img/mesh_dark.png') no-repeat center center;
        background-size: cover;
    }
}

@media (min-width: 1024px) {
    .software-desc {
        display: none;
    }

    .software-item:hover .software-desc {
        display: block;
    }
}

.btn-arrow:hover .btn-p-arw {
    transform: translateX(16px);
}

.btn-p-arw {
    transform: translateX(8px);
}

.btn-arrow div {
    transform: translateX(8px);
}